.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: 20%;
    top: 20%
}

.logo_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

.social_logo{
    width: 30px;
    height: 30px;
}

.creator_card{
    margin: 10%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 200px;
}

.name{
    padding-top: 15px;
}