.image-cont{
    max-width: 100%;
    position: relative;
}

.banner{
    width: 100%;
    height: auto;
    max-height: 500px;
    display: block;
}

.button-container {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-width: fit-content;
}

.overlay-button {
    margin: 5px;
}


